*
    font-family: 'UnifrakturMaguntia-Regular'
html
    scroll-behavior: smooth
body
    height: 1515px
    margin: 0px

@import 'blocks/btn'
@import 'blocks/header'  
@import 'blocks/background'
@import 'blocks/variability'
@import 'blocks/promo'
@import 'blocks/carousel'
@import 'blocks/dandaleon'