@keyframes rotate-circles__1 {
  0% {
    transform: translate(-50%, calc(-50% + 70px));
  }
  100% {
    transform: translate(calc(-50% - 70px), calc(-50% - 70px));
  }
}
@keyframes rotate-circles__2 {
  0% {
    transform: translate(calc(-50% - 70px), calc(-50% - 70px));
  }
  100% {
    transform: translate(calc(-50% + 70px), calc(-50% - 70px));
  }
}
@keyframes rotate-circles__3 {
  0% {
    transform: translate(calc(-50% + 70px), calc(-50% - 70px));
  }
  100% {
    transform: translate(-50%, calc(-50% + 70px));
  }
}
// @keyframes rotate-circles__4 {
//   0% {
//     transform: translate(calc(50% + 80px), calc(50% + 100px));
//     z-index: 100;
//   }
//   50% {
//     transform: translate(calc(50% - 120px), calc(50% - 200px));
//     z-index: -100;
//   }
//   100% {
//     transform: translate(calc(50% + 80px), calc(50% + 100px));
//     z-index: 100;
//   }
// }
// @keyframes rotate-circles__5 {
//   0% {
//     transform: translate(calc(50% - 120px), calc(50% - 200px));
//     z-index: 100;
//   }
//   50% {
//     transform: translate(calc(50% + 80px), calc(50% + 100px));
//     z-index: -100;
//   }
//   100% {
//     transform: translate(calc(50% - 120px), calc(50% - 200px));
//     z-index: 100;
//   }
// }
// @keyframes rotate-circles__6 {
//   0% {
//     transform: translate(calc(50% + 80px), calc(50% + 100px));
//     z-index: 100;
//   }
//   50% {
//     transform: translate(calc(50% - 120px), calc(50% - 200px));
//     z-index: -100;
//   }
//   100% {
//     transform: translate(calc(50% + 80px), calc(50% + 100px));
//     z-index: 100;
//   }
// }
