@import url(main-reset.scss);
@import url(variables.scss);
@import url(../fonts.scss);
* {
  font-family: "UnifrakturMaguntia-Regular";
}
body {
  background-color: var(--black-theme);
}
.container {
  width: 1400px;
  margin: 0 auto;
}
.loader {
  background-color: var(--black-theme);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999999999;
  &-off {
    animation: loader-clean 1s 1;
  }
  &__circle {
    box-shadow: 0px 0px 20px 1px var(--white-theme);
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: var(--white-theme);
    border-radius: 100%;
    z-index: 10;
    // &-small {
    //   width: 30px;
    //   height: 30px;
    //   background-color: var(--main-theme);
    // }
    &:nth-child(1) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, calc(-50% + 70px));
      animation: rotate-circles__1 1s infinite;
    }
    &:nth-child(2) {
      top: 50%;
      left: 50%;
      transform: translate(calc(-50% - 70px), calc(-50% - 70px));
      animation: rotate-circles__2 1s infinite;
    }
    &:nth-child(3) {
      top: 50%;
      left: 50%;
      transform: translate(calc(-50% + 70px), calc(-50% - 70px));
      animation: rotate-circles__3 1s infinite;
    }
    // &:nth-child(4) {
    //   top: 50%;
    //   left: 50%;
    //   animation: rotate-circles__4 2s infinite;
    // }
    // &:nth-child(5) {
    //   top: 50%;
    //   left: 50%;
    //   animation: rotate-circles__5 2s infinite;
    // }
    // &:nth-child(6) {
    //   top: 50%;
    //   left: 50%;
    //   animation: rotate-circles__6 2s infinite;
    // }
    // &:nth-child(7) {
    //   top: 50%;
    //   left: 50%;
    // }
    // &:nth-child(8) {
    //   top: 50%;
    //   left: 50%;
    // }
    // &:nth-child(9) {
    //   top: 50%;
    //   left: 50%;
    // }
  }
}
.off {
  display: none;
}
@import "animate.scss";
@keyframes loader-clean {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@import "blocks/header.scss";

@import "blocks/hero.scss";
