.aml {
  min-height: 341px;
  padding: 64px 0 113px;
  &__wrapper {
    padding: 0 56px;
  }
  &__text {
    color: #565661;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.25px;
    margin-top: 23px;
  }
  &-form {
    display: flex;
    margin-top: 17px;
    min-height: 66px;
    justify-content: space-between;
    &__select {
      display: flex;
      min-width: 233px;
      align-items: center;
      justify-content: space-between;
      border-radius: 8px;
      border: 1px solid #d7dbdf;
      background: #e3e3e8;
      box-shadow: 0px 0px 0px 1000px #e3e3e8 inset;
      padding: 18.03px 12px 20.03px 16px;
    }
    &__label {
      color: #565661;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
    }
    &__arrow {
      display: flex;
      align-items: center;
    }
    &__input {
      display: flex;
      min-width: 520px;
      max-width: 530px;
      padding: 14.68px 17px 15.68px;
      align-items: center;
      border-radius: 8px;
      border: 1px solid #d7dbdf;
      background: #e3e3e8;
      box-shadow: 0px 0px 0px 1000px #e3e3e8 inset;
    }
    &__btn {
      display: flex;
      min-width: 125px;
      border-radius: 8px;
      border: 1px solid #e3e3e8;
      background: #e3e3e8;
      align-items: center;
      justify-content: center;
      color: #565661;
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      cursor: pointer;
    }
  }
  &-fee {
    display: flex;
    min-width: 280px;
    padding: 11.59px 8px 12.6px 17px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #d7dbdf;
    background: #f0f2f4;
    &__value {
      color: #9c9ca5;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 39px;
    }
    &__text {
      color: #565661;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 19.5px;
    }
    &__link {
      color: #548ed9;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 19.5px;
      text-decoration: none;
    }
  }
  &__table {
    margin-top: 27px;
    border-radius: 8px;
    background: #f6f7f9;
    padding-left: 16px;
    display: grid;
    grid-template: minmax(44px, auto) / minmax(auto, 202px) minmax(auto, 200px) minmax(auto, 280px) minmax(auto, 210px) minmax(auto, 323px);
    align-items: center;
  }
  &__col {
    color: #565661;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.5px;
  }
  &__btn {
    display: block;
    margin: 32px auto;
    height: 64px;
    min-width: 133px;
    max-width: 1216px;
    padding: 20px 25px;
    flex-shrink: 0;
    color: #565661;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
  }
}
