.backgrounds {
  flex-shrink: 0;
  position: relative;
  filter: blur(100px);
  z-index: -10;
  &-main {
    &__ellipse {
      position: absolute;
      &:nth-child(1) {
        width: 358px;
        height: 264.676px;
        flex-shrink: 0;
        border-radius: 358px;
        background: #f00;
        top: 400px;
        left: 784px;
      }
      &:nth-child(2) {
        width: 96px;
        height: 264.676px;
        flex-shrink: 0;
        border-radius: 264.676px;
        background: #f2d082;
        right: 40px;
        top: 1421px;
      }
      &:nth-child(3) {
        width: 358px;
        height: 264.676px;
        flex-shrink: 0;
        border-radius: 358px;
        background: #9e00ff;
        left: 8px;
        top: 1100px;
      }
      &:nth-child(4) {
        width: 358px;
        height: 264.676px;
        flex-shrink: 0;
        border-radius: 358px;
        background: #1500ff;
        top: 2010px;
        right: 288px;
      }
      &:nth-child(5) {
        width: 358px;
        height: 264.676px;
        flex-shrink: 0;
        border-radius: 358px;
        background: #9e00ff;
        top: 2798px;
        right: 379px;
      }
      &:nth-child(6) {
        width: 358px;
        height: 264.676px;
        flex-shrink: 0;
        border-radius: 358px;
        background: #1500ff;
        left: 124px;
        top: 3200px;
      }
    }
  }
  &-markets {
    z-index: 10;
    &__ellipse {
      position: absolute;
      &:nth-child(1) {
        width: 358px;
        height: 264.676px;
        flex-shrink: 0;
        border-radius: 358px;
        background: red;
        filter: blur(200px);
        top: 117px;
        left: 107px;
      }
      &:nth-child(2) {
        width: 96px;
        height: 264.676px;
        flex-shrink: 0;
        border-radius: 264.676px;
        background: #f2d082;
        filter: blur(150px);
        right: 237px;
        top: 413px;
      }
      &:nth-child(3) {
        width: 358px;
        height: 264.676px;
        flex-shrink: 0;
        border-radius: 358px;
        background: #9e00ff;
        filter: blur(200px);
        left: 494px;
        top: 1436px;
      }
    }
  }
  &-exchange {
    z-index: 10;
    &__ellipse {
      position: absolute;
      &:nth-child(1) {
        width: 250px;
        height: 186px;
        flex-shrink: 0;
        background-color: #f00;
        filter: blur(150px);
        right: 526px;
        top: 992px;
      }
      &:nth-child(2) {
        width: 172px;
        height: 475px;
        flex-shrink: 0;
        border-radius: 475px;
        background: #f2d082;
        filter: blur(150px);
        right: 17px;
        top: 225px;
      }
      &:nth-child(3) {
        width: 358px;
        height: 264.676px;
        flex-shrink: 0;
        border-radius: 358px;
        background: #1500ff;
        filter: blur(200px);
        left: 9px;
        top: 179px;
      }
    }
  }
  &-p2p {
    &__ellipse {
      filter: blur(150px);
      position: absolute;
      &:nth-child(1) {
        width: 250px;
        height: 186px;
        flex-shrink: 0;
        background-color: #f00;
        top: 667px;
        left: 80px;
      }
      &:nth-child(2) {
        width: 172px;
        height: 475px;
        flex-shrink: 0;
        border-radius: 475px;
        background: #f2d082;
        right: 15px;
        top: 166px;
      }
      &:nth-child(3) {
        width: 353px;
        height: 306px;
        flex-shrink: 0;
        border-radius: 353px;
        background: #9e00ff;
        right: 109px;
        top: 2417px;
      }
      &:nth-child(4) {
        width: 358px;
        height: 264.676px;
        flex-shrink: 0;
        border-radius: 358px;
        background: #1500ff;
        left: 10px;
        top: 1664px;
      }
    }
  }
  &-dex {
    z-index: 10;
    &__ellipse {
      filter: blur(150px);
      position: absolute;
      &:nth-child(1) {
        width: 250px;
        height: 186px;
        flex-shrink: 0;
        background-color: #f00;
        filter: blur(200px);
        left: 80px;
        top: 667px;
        border-radius: 358px;
      }
      &:nth-child(2) {
        width: 358px;
        height: 264.676px;
        flex-shrink: 0;
        border-radius: 358px;
        background: #1500ff;
        filter: blur(200px);
        left: 10px;
        top: 1664px;
      }
      &:nth-child(3) {
        width: 172px;
        height: 475px;
        flex-shrink: 0;
        border-radius: 475px;
        background: #f2d082;
        filter: blur(200px);
        right: 15px;
        top: 166px;
      }
      &:nth-child(4) {
        width: 353px;
        height: 306px;
        flex-shrink: 0;
        border-radius: 353px;
        background: #9e00ff;
        filter: blur(200px);
        right: 109px;
        top: 2417px;
      }
      &:nth-child(5) {
        width: 353px;
        height: 306px;
        flex-shrink: 0;
        border-radius: 353px;
        background: #23b543;
        filter: blur(200px);
        right: 70px;
        top: 1339px;
      }
    }
  }
  &-authorization {
    z-index: 10;
    &__ellipse {
      position: absolute;
      &:nth-child(1) {
        width: 172px;
        height: 475px;
        flex-shrink: 0;
        border-radius: 475px;
        background: #f2d082;
        filter: blur(200px);
        left: 51px;
        top: 168px;
      }
      &:nth-child(2) {
        width: 353px;
        height: 306px;
        flex-shrink: 0;
        border-radius: 353px;
        background: #9e00ff;
        filter: blur(200px);
        right: 611px;
        top: 729px;
      }
      &:nth-child(3) {
        width: 215px;
        height: 186px;
        flex-shrink: 0;
        background-color: #23b543;
        filter: blur(200px);
        right: 129px;
        top: 305px;
      }
    }
  }
  &-earn {
    z-index: 10;
    filter: blur(200px);
    &__ellipse {
      position: absolute;
      &:nth-child(1) {
        width: 358px;
        height: 264.676px;
        flex-shrink: 0;
        border-radius: 358px;
        background: #1500ff;
        left: 270px;
        top: 495px;
      }
      &:nth-child(2) {
        width: 353px;
        height: 306px;
        flex-shrink: 0;
        border-radius: 353px;
        background: #9e00ff;
        top: 2417px;
        right: 109px;
      }
      &:nth-child(3) {
        width: 250px;
        height: 186px;
        flex-shrink: 0;
        background-color: #f00;
        left: 46px;
        top: 1790px;
      }
      &:nth-child(4) {
        width: 353px;
        height: 306px;
        flex-shrink: 0;
        border-radius: 353px;
        background: #23b543;
        right: 22px;
        top: 374px;
      }
    }
  }
  &-aml {
    filter: blur(200px);
    &__ellipse {
      position: absolute;
      &:nth-child(1) {
        width: 250px;
        height: 186px;
        flex-shrink: 0;
        background-color: #f00;
        top: 63px;
        right: 548px;
      }
      &:nth-child(2) {
        width: 353px;
        height: 306px;
        flex-shrink: 0;
        border-radius: 353px;
        background: #23b543;
        right: 22px;
        top: 374px;
      }
      &:nth-child(3) {
        width: 358px;
        height: 264.676px;
        flex-shrink: 0;
        border-radius: 358px;
        background: #1500ff;
        left: 85px;
        top: 467px;
      }
    }
  }
  &-listing {
    filter: blur(200px);
    &__ellipse {
      position: absolute;
      &:nth-child(1) {
        width: 353px;
        height: 306px;
        flex-shrink: 0;
        border-radius: 353px;
        background: #23b543;
        right: 22px;
        top: 374px;
      }
      &:nth-child(2) {
        width: 358px;
        height: 264.676px;
        flex-shrink: 0;
        border-radius: 358px;
        background: #1500ff;
        left: 12px;
        top: 3385px;
      }
      &:nth-child(3) {
        width: 353px;
        height: 306px;
        flex-shrink: 0;
        border-radius: 353px;
        background: #9e00ff;
        right: 32px;
        top: 2607px;
      }
      &:nth-child(4) {
        width: 172px;
        height: 475px;
        flex-shrink: 0;
        border-radius: 475px;
        background: #f2d082;
        left: 81px;
        top: 1124px;
      }
    }
  }
}
