.dex {
  padding: 141px 0 147px;
  min-height: 572px;
  &__wrapper {
    padding: 0 107px 0 86px;
    display: flex;
    flex-direction: column;
    position: relative;
    &::before {
      content: url("../icons/DEX/swap.svg");
      position: absolute;
      right: 238px;
      top: -92px;
    }
  }
  &__title {
    font-weight: 700;
  }
  &__subtitle {
    color: #fff;
    font-family: Manrope;
    font-weight: 800;
    margin-top: 7px;
  }
  &__descr {
    width: 339px;
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.25px;
    margin-top: 24px;
  }
  &-info {
    margin-top: 228px;
    display: flex;
    justify-content: space-around;
    &__item {
      width: 316px;
      font-family: Inter;
      font-weight: 700;
      text-align: center;
    }
    &__meaning {
      font-size: 64px;
      line-height: 64px;
    }
    &__title {
      color: #e3cb75;
      font-size: 40px;
      line-height: 40px;
      font-weight: 900;
    }
    &__text {
      margin-top: 16px;
      color: #fff;
      text-align: center;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
    }
  }
}
