.faq {
  min-height: 443px;
  padding-bottom: 112px;
  &-dex {
    padding-top: 50px;
  }
  &__wrapper {
    padding: 0 56px;
  }
  &-list {
    list-style-type: none;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    li {
      display: flex;
      align-items: center;
      justify-content: left;
      border-radius: 8px;
      background: #fff;
      padding: 15px 16px;
      flex-wrap: wrap;
    }
    &__icon {
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      &-open {
        transform: rotate(45.148deg);
      }
    }
    &__title {
      color: #000;
      margin-left: 16px;
    }
    &__descr {
      margin-top: 20px;
      width: 100%;
      color: #000;
      font-family: Manrope;
      font-size: 16px;
      font-weight: 800;
    }
  }
}
