.header
    position: relative
    z-index: 10
    min-height: 61px
    border: 1px solid #767676
    background: rgba(0, 0, 0, 0.40)
    &__wrapper
        display: flex
        padding: 0 105px 0 57px
    &__navigation
        padding: 9px 0
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
    &__items
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
        &:nth-child(1)
            width: 364px
        &:nth-child(2)
            width: 375px
    &__images
        width: 64px
        margin-right: 20px
        display: flex
        align-items: center
        justify-content: space-between
        &-off
            display: none
    &__menu
        width: 276px
        display: flex
        align-items: center
        justify-content: space-between
        list-style-type: none
        &-second
            width: 100%
        &-off
            display: none
    &__link
        color: #FFF
        font-family: Inter
        font-size: 14px
        font-weight: 300
        line-height: 22.75px
        text-decoration: none
        cursor: pointer
        &-list
            padding-right: 15px
            position: relative
            &::before
                content: ""
                position: absolute
                width: 5.5px
                height: 5.5px
                transform: rotate(-45deg)
                border-bottom: 1.5px solid #7A7A85
                border-left: 1.5px solid #7A7A85
                left: 54px
                top: 3px
    &__connect
        color: #94AFE5
        font-family: Inter
        font-size: 14px
        font-weight: 400
        line-height: 22.75px
        cursor: pointer
        display: flex
        align-items: center
        justify-content: space-between
        width: 123px
    &__btn
        text-decoration: none
        cursor: pointer
        color: #000
        font-family: Inter
        font-size: 12px
        font-style: normal
        font-weight: 400
        line-height: 19px
    &__support
        display: flex
        align-items: center
    &__burger
        display: none
        width: 30px
        height: 30px
        flex-direction: column
        align-items: center
        justify-content: center
        span
            width: 20px
            height: 1px
            background-color: #fff
            &:nth-child(2)
                margin: 5px 0
    &__aside
        display: flex
        z-index: 100
        position: fixed
        transition: all 0.5s
        height: 100vh
        top: 0
        left: -170px
        width: 170px
        background: rgba(0,0,0,.8)
        &-active 
            transition: all 0.3s 
            left: 0
    
        


            
            

    

                

    