.lending {
  padding-top: 63px;
  &__row {
    &:nth-last-child(1) {
      padding: 127px 56px 118px;
    }
  }
  &__title {
    text-align: center;
  }
  &__text {
    color: #565661;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.25px;
    margin-top: 23px;
  }
}
.main-smarts {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  &::before {
    content: "";
    width: 40%;
    height: 1px;
    position: absolute;
    background: #d7dbdf;
    left: 50%;
    top: 86px;
    transform: translateX(-50%);
    z-index: -1;
  }
  &__points {
    display: flex;
    width: 666px;
    max-width: 666px;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__point {
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-text {
      text-align: center;
      margin-top: 15px;
      color: #565661;
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
    }
    &-img {
      display: flex;
      width: 56px;
      height: 56px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 16px;
      background: #f6f7f9;
    }
    span {
      margin-top: 25px;
      width: 10px;
      height: 10px;
      flex-shrink: 0;
      border-radius: 5px;
      border: 2px solid #565661;
      background: #fff;
      box-shadow: 0px 0px 0px 6px #fff;
    }
  }
  &__list {
    display: flex;
    width: 880px;
    max-width: 880px;
    justify-content: space-between;
    align-items: center;
  }
}
.main-smart {
  margin-top: 57px;
  display: flex;
  width: 432px;
  max-width: 432px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: 16px;
  background: #f6f7f9;
  &__header {
    display: flex;
    width: 100%;
    padding: 0px 0px 17px 0px;
    justify-content: space-between;
    align-items: center;
  }
  &__name {
    display: flex;
    padding-right: 0px;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    color: #000;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    img {
      width: 40px;
    }
  }
  &__percent {
    color: #000;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px; /* 162.5% */
  }
  &__days {
    display: flex;
    width: 368px;
    padding: 24px 9px 16px 0px;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid #8e8e8e;
  }
  &__day {
    display: flex;
    width: 68px;
    padding-right: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 8px;
    border: 2px solid #8e8e8e;
    background: #8e8e8e;
    &-select {
      border-radius: 8px;
      border: 2px solid #f2d082;
      background: #8e8e8e;
    }
    span {
      &:nth-last-child(1) {
        color: #fff;
        text-align: center;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.5px;
      }
      &:nth-last-child(2) {
        color: #fff;
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.5px;
      }
    }
  }
  &__link {
    min-width: 133px;
    max-width: 432px;
    padding: 18px 130.81px 20px 138.19px;
    border-radius: 8px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-decoration: none;
  }
}
.features-cols {
  margin-top: 53px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &__item {
    min-height: 227px;
    max-width: 391px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  &__span {
    color: #fff;
    text-align: center;
    font-family: Manrope;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: 96px;
  }
  &__descr {
    color: #565661;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
  &__link {
    color: #548ed9;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
    margin-top: 16px;
  }
}
