.castom {
  z-index: -1;
  width: 100vw;
  height: 100%;
  position: absolute;
  overflow: hidden;
  img {
    position: absolute;
    &:nth-child(1) {
      width: 537px;
      height: 470px;
      flex-shrink: 0;
      right: 0;
      top: 0;
    }
    &:nth-child(2) {
      width: 537px;
      height: 470px;
      top: 1551px;
    }
  }
  .ellipse {
    position: absolute;
    width: 605px;
    height: 578px;
    flex-shrink: 0;
    border-radius: 605px;
    background: #06f;
    filter: blur(269.5px);
    &:nth-last-child(1) {
      left: 1400px;
      bottom: 1951px;
    }
    &:nth-last-child(2) {
      top: 1953px;
      right: 1400px;
    }
  }
}
