.profile {
  padding: 162px 0 76px;
  min-height: 508px;
  &__wrapper {
    display: grid;
    grid-template: 300px / 300px 503px;
    column-gap: 70px;
  }
  &__img {
    img {
      width: 100%;
      border-radius: 19px;
    }
  }
  &__item {
    padding: 27.5px 0;
  }
  &__name {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
  }
  &__title {
    color: #fff;
    font-family: Inter;
    font-size: 96px;
    font-weight: 800;
    line-height: 96.523%;
    letter-spacing: -3.36px;
    margin-top: 7px;
  }
  &__devider {
    background: rgba(255, 255, 255, 0.12);
    width: 503.009px;
    height: 1px;
    margin-top: 36px;
  }
}
.info {
  display: grid;
  grid-template: 51px / 81px 73px;
  margin-top: 36px;
  column-gap: 50px;
  &__data {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
  }
  &__text {
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-top: 8px;
  }
}
