.header {
  z-index: 9999999;
  top: 0;
  position: fixed;
  width: 100%;
  height: 80px;
  box-shadow: 2px 2px 10px 0px var(--white-theme);
  border-bottom: 1px solid var(--white-theme);
  background-color: var(--black-theme);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-theme);
  top: -90px;
  transition: 0.5s all;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  &__return {
    top: 0;
    &_btn {
      display: block;
      padding: 10px;
      padding-left: 20px;
      width: 110px;
      position: absolute;
      left: 40px;
      color: var(--main-theme);
      text-decoration: none;
      border: 1px solid var(--main-theme);
      text-align: center;
      font-size: 20px;
      border-radius: 15px;
      transition: all 0.2s;
      &:hover {
        transition: all 0.2s;
        color: var(--black-theme);
        background-color: var(--main-theme);
        padding-left: 30px;
        left: 20px;
        width: 130px;
        .header__arrow {
          fill: var(--black-theme);
          transition: all 0.2s;
        }
      }
    }
    &-arrow {
      position: absolute;
      rotate: 180deg;
      top: 30%;
      left: 5px;
    }
  }
  &__arrow {
    fill: var(--main-theme);
  }
  &__logo {
    font-size: 50px;
    display: flex;
    gap: 15px;
    align-items: center;
    &-img {
      width: 70px;
      img {
        width: 100%;
      }
    }
  }
  &__nav {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  &__list {
    display: flex;
    gap: 20px;
    &-link {
      font-size: 22px;
      color: var(--white-theme);
      text-decoration: none;
      transition: 0.3s all;
      &:hover {
        color: var(--main-theme);
      }
    }
  }
  &__profile {
    width: 80px;
    img {
      width: 100%;
    }
  }
}
