.hero {
  position: relative;
  padding-top: 180px;
  &__background {
    opacity: 0.3;
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
  }
  &__video {
    height: 100%;
    width: 100%;
  }
  &__title {
    font-size: 120px;
    font-weight: 800;
    color: var(--white-theme);
    line-height: 1;
    margin-bottom: 20px;
  }
  &__subtitle {
    font-size: 80px;
    font-weight: 500;
    color: var(--white-theme);
    margin-bottom: 30px;
  }
  &__text {
    font-size: 30px;
    font-weight: 500;
    color: var(--white-theme);
    width: 1000px;
    margin-bottom: 50px;
    &_right {
      text-align: right;
      margin-left: 20%;
    }
  }
}
