.contacts
    padding: 120px 0 92px
    &__wrapper
        padding: 0 35px 0 52px
        display: grid
        grid-template-columns: 400px 585px
        grid-template-rows: minmax(550px, auto)
        grid-auto-rows: 550px
        column-gap: 68px
    &__photo
        img
            object-fit: cover
            width: 100%
            height: 100%
    &__item
        display: flex
        flex-direction: column
        &-title
            position: relative
            padding-left: 12px
            @include before_circle
        &-subtitle
            margin-top: 6px
        &-devider
            margin-top: 5px
        &-text 
            color: #000
            font-size: 14px
            font-weight: 700
            margin-top: 10px
        &-social
            margin-top: 20px
        &-link
            margin-right: 25px
            text-decoration: none
            img
                width: 30px
                height: 30px
    &__form
        margin-top: 25px
        display: grid
        grid-template: 45px 190px 45px / repeat(2, 280px)
        justify-content: space-between
        row-gap: 15px
        input
            border: 1px solid #000
            background: rgba(196, 196, 196, 0.00)
        label
            position: absolute
            padding: 0 8px
            height: 18px
            background-color: #fff
            font-size: 12px
            z-index: 2
            left: 20px
            top: -9px
            &.error
                z-index: 3
                margin-bottom: 10px
    &__input
        position: relative
        input
            width: 100%
            height: 100% 
            padding: 0 20px
            font-size: 12px
    &__textarea
        grid-column: 1/3
        position: relative
        textarea
            padding: 15px 20px
            width: 100%
            height: 100%
            resize: none
            font-size: 12px
            &.error
                border: 1px solid red
                border-radius: 4px
    &__triggers
        grid-column: 1/3
        display: grid
        grid-template-columns: repeat(2, auto)
        column-gap: 35px
    &__policy
        display: flex
        align-items: center
        color: #000
        font-size: 12px
        font-weight: 500
        position: relative
        label
            position: static
            &.error
                position: absolute
                top: 35px
                font-size: 11px
                color: red
                left: -10px
        input
            margin-right: 10px
            &.error
                position: relative
                &::before
                    content: ''
                    position: absolute
                    width: 9px
                    height: 9px
                    border: 2px solid red
                    border-radius: 3px
        
    &__btn
        border: none
        width: 219px
        height: 45px
        flex-shrink: 0
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15)
        color: #000
        font-size: 14px
        font-weight: 700
        padding: 12px 20px
        line-height: 21px
    input.error
        border: 1px solid #ff0000
        border-radius: 4px

