.hamburger
    position: absolute
    top: 20px
    right: 30px
    width: 36px
    height: 21px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: end
    cursor: pointer
    span
        display: block
        background: #151812       
        width: 30px
        height: 3px
    span.long
        width: 36px