@media (max-width: 1400px) {
  .exchange {
    &-form {
      &__row {
        .select {
          width: 400px;
        }
      }
      width: 100%;
      .input {
        .input__box {
          input {
            width: 300px;
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .exchange {
    &-form {
      flex-shrink: unset;
      &__row {
        .select {
          width: 300px;
        }
        &:nth-child(3) {
          width: 100%;
        }
      }
      &__col {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          padding: 0;
        }
      }
      width: 100%;
      .input {
        .input__box {
          input {
            width: 300px;
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .exchange {
    &-form {
      &__row {
        .select {
          width: 200px;
        }
      }
      .input {
        .input__box {
          input {
            width: 150px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .exchange {
    &-form {
      &__row {
        &:nth-child(3) {
          align-items: start;
        }
        .select {
          width: 160px;
          &__label {
            align-items: center;
            padding: 0;
            padding-left: 5px;
            .sl-currency__name {
              font-size: 12px;
            }
          }
        }
      }
      .input {
        .input__box {
          input {
            width: 100px;
          }
        }
      }
      &__col {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          padding: 0;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .exchange {
    &__wrapper {
      padding-left: 0;
      padding-right: 0;
    }
    &__box {
      padding: 15px;
      margin-top: 20px;
    }
    &-form {
      &__replace {
        transform: rotate(90deg);
      }
      .exchange-form__row {
        .select {
          width: 100%;
        }
        .input {
          .input__box {
            input {
              width: 100%;
            }
          }
        }
        width: 100%;
        flex-direction: column;
        height: auto;
        &:nth-child(2) {
          gap: 15px;
        }
        &:nth-child(3) {
          gap: 15px;
          align-items: start;
          justify-content: start;
          span {
            width: 200px;
          }
        }
      }
      &__button {
        padding: 5px;
        align-items: center;
      }
    }
  }
}
@media (max-width: 350px) {
}
