@media (max-width: 1400px) {
  .footer {
    nav {
      justify-content: space-around;
      .fmenu__column {
        width: 25%;
      }
    }
    &__list {
      width: 25%;
    }
  }
}
@media (max-width: 1200px) {
  .footer {
    nav {
      .fmenu__column {
        margin-bottom: 10px;
        width: auto;
      }
    }
    &__list {
      width: auto;
    }
  }
}
@media (max-width: 992px) {
  .footer {
    nav {
      .fmenu__column {
        width: 300px;
      }
    }
    &__list {
      width: 25%;
    }
  }
}
@media (max-width: 768px) {
  .footer {
    nav {
      .fmenu__column {
        width: 50%;
      }
    }
    &__list {
      width: 100%;
    }
  }
}
@media (max-width: 576px) {
  .footer {
    nav {
      justify-content: center;
      margin: 0 auto;
      .fmenu__column {
        width: 250px;
        align-items: start;
        margin-bottom: 20px;
      }
    }
    &__copyright {
      font-size: 12px;
    }
    .fsocials__right {
      height: 70px;
    }
  }
}
@media (max-width: 350px) {
  .footer {
    nav {
      .fmenu__column {
        width: 200px;
      }
    }
    &__title {
      font-size: 17px;
    }
  }
}
