@media (max-width: 1400px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .header {
    &__wrapper {
      padding: 0;
    }
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .header {
    &__items {
      &:nth-child(1) {
        justify-content: start;
        width: 100%;
      }
      &:nth-child(2) {
        justify-content: start;
        width: 100%;
      }
    }
    &__navigation {
      gap: 20px;
    }
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .header {
    &__wrapper {
      padding: 0 10px;
    }
    &__navigation {
      flex-wrap: wrap;
    }
    &__menu {
      width: 100%;
    }
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}
@media (max-width: 350px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .header {
    display: flex;
    align-items: center;
    &__wrapper {
      justify-content: space-between;
      align-items: center;
    }
    &__navigation {
      display: none;
    }
    &__link {
      &-list {
        &::before {
          display: none;
        }
      }
    }
    &__images-off {
      display: flex;
      align-items: center;
    }
    &__burger {
      display: flex;
    }
    &__menu {
      padding: 20px;
      flex-direction: column;
      align-items: start;
      &-off {
        display: flex;
      }
      li {
        margin-bottom: 10px;
        &:nth-last-child(2) {
          width: 100%;
        }
        &:nth-last-child(3) {
          width: 100%;
        }
      }
    }
    &__ btn {
      min-width: 100%;
    }
  }
  .btn {
    min-width: 100%;
  }
}
