@media (max-width: 1200px) {
  .lending {
    padding-top: 30px;
  }
  .main-smarts {
    &::before {
      width: 60%;
    }
  }
  .features-cols__span {
    font-size: 80px;
    line-height: 80px;
  }
}

@media (max-width: 992px) {
  .main-smarts {
    &::before {
      width: 75%;
    }
    &__list {
      flex-direction: column;
      width: auto;
    }
  }
}

@media (max-width: 768px) {
  .main-smarts {
    &__points {
      width: auto;
    }
    &__point {
      width: auto;
    }
    &__point-text {
      width: auto;
    }
  }
  .lending__row {
    &:nth-last-child(1) {
      padding: 65px 0 118px;
    }
  }
  .features-cols {
    &__span {
      font-size: 60px;
      line-height: 70px;
    }
    &__descr {
      font-size: 14px;
      line-height: 20px;
    }
    &__link {
      margin-top: 5px;
      font-size: 14px;
    }
  }
}

@media (max-width: 576px) {
  .main {
    &-smarts__point-text {
      font-size: 12px;
    }
    &-smart {
      width: auto;
      padding: 10px;
      &__days {
        justify-content: space-around;
        width: auto;
        flex-wrap: wrap;
      }
      &__day {
        margin-bottom: 10px;
      }
      &__link {
        display: flex;
        min-width: 0;
        padding: 20px 0;
      }
      &__name,
      &__percent {
        font-size: 20px;
      }
    }
  }
  .features-cols {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .features-cols__item {
    max-width: 175px;
  }
}

@media (max-width: 350px) {
}
