@media (max-width: 1400px) {
  .main {
    &__carts {
      grid-template: repeat(2, 136px) / repeat(3, minmax(256px, auto));
      gap: 20px 120px;
      justify-content: center;
    }
    &__markets {
      grid-template: minmax(0, auto) / minmax(0, 750px) minmax(0, 320px);
    }
    &__trade {
      padding: 0;
    }
  }
}
@media (max-width: 1200px) {
  .main {
    &__carts {
      grid-template: repeat(2, 136px) / repeat(2, minmax(256px, auto));
    }
    &__markets {
      grid-template: repeat(2, minmax(0, auto)) / minmax(0, auto);
      grid-auto-columns: auto;
      grid-auto-rows: auto;
      align-items: center;
      justify-content: center;
    }
    &__trade {
      padding: 0;
    }
    &__item {
      gap: 5px;
    }
    &__link {
      margin: 15px auto;
    }
    &__market-right {
      justify-self: center;
      margin-top: 0;
    }
    &__trade {
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      &-left {
        position: relative;
      }
      &-right {
        margin-top: 20px;
      }
    }
    &__header {
      text-align: center;
    }
    &__preview {
      transform: rotate(-90deg);
      position: absolute;
      bottom: 55px;
      left: 16px;
    }
    &__points {
      left: 100px;
    }
  }
}
@media (max-width: 992px) {
  .main {
    &__wrapper {
      padding: 0;
    }
  }
}
@media (max-width: 768px) {
  .main {
    &__carts {
      grid-template: repeat(2, 136px) / repeat(2, minmax(150px, auto));
      column-gap: 50px;
    }
    &__name,
    &__price,
    &__change,
    &__market,
    &__tradelink,
    span {
      width: auto;
      font-size: 12px;
    }
    &__item {
      padding: 16px 10px;
    }
    &__list {
      padding: 12.63px 124.37px 12.37px 63px;
    }
  }
}
@media (max-width: 576px) {
  .main {
    padding-top: 30px;
    &__carts {
      grid-template: repeat(2, auto) / repeat(2, minmax(100px, auto));
      gap: 20px 20px;
    }
    &__list {
      padding: 12px 80px 12px 14px;
      li {
        &:nth-last-child(1) {
          display: none;
        }
      }
    }
    &__name {
      img {
        display: none;
      }
    }
    &__market {
      display: none;
    }
    &__markets {
      margin: 0;
    }
    &__header {
      width: auto;
    }
    &__trade-right {
      max-width: 300px;
      padding: 20px;
    }
    .input__box {
      input {
        max-width: 75px;
      }
    }
    .select__label {
      font-size: 11px;
    }
    &__fpoints {
      width: auto;
    }
  }
}
@media (max-width: 350px) {
  .main {
    &__carts {
      grid-template: repeat(4, auto) / repeat(1, minmax(100px, auto));
    }
    &__points {
      left: 90px;
    }
    &__preview {
      left: 0;
    }
    &__market-right {
      width: auto;
      min-width: 0;
    }
    &__trade-right {
      padding: 5px;
    }
  }
}
