@media (max-width: 1400px) {
  .market {
    &-cards__list {
      width: auto;
      flex-wrap: wrap;
    }
  }
  .markets {
    &__row {
      gap: 510px;
    }
    .table {
      &__item {
        grid-template: 100%/122px minmax(133px, auto) minmax(115px, auto) minmax(136px, auto) minmax(132px, auto) minmax(139px, auto) minmax(178px, auto) minmax(111px, auto);
      }
    }
  }
}

@media (max-width: 1200px) {
  .market {
    &-cards__list {
      gap: 10px;
    }
  }
  .markets {
    &__row {
      gap: 260px;
    }
    .table {
      &__menu {
        grid-template: 100% / minmax(auto, 87px) minmax(auto, 99px) minmax(auto, 89px) minmax(auto, 99px) minmax(auto, 90px) minmax(auto, 114px) minmax(auto, 178px);
      }
      &__item {
        grid-template: 100%/90px minmax(95px, auto) minmax(90px, auto) minmax(100px, auto) minmax(90px, auto) minmax(115px, auto) minmax(140px, auto) minmax(0, auto);
      }
    }
  }
}

@media (max-width: 992px) {
  .market {
    &-cards__list {
      justify-content: center;
      gap: 25px;
    }
  }
  .markets {
    &__row {
      gap: 30px;
    }
    .table {
      &__menu {
        font-size: 12px;
        grid-template: 100% / minmax(auto, 87px) minmax(auto, 99px) minmax(auto, 89px) minmax(auto, 99px) minmax(auto, 90px) minmax(auto, 114px);
        li {
          &:nth-last-child(1) {
            display: none;
          }
        }
      }
      &__item {
        font-size: 12px;
        grid-template: repeat(2, 100%) / 85px minmax(85px, auto) minmax(90px, auto) minmax(89px, auto) minmax(90px, auto) minmax(120px, auto);
        margin-bottom: 40px;
        li {
          &:nth-last-child(1) {
            grid-column-start: 6;
            grid-row-start: 2;
          }
        }
      }
      &__img {
        height: 100%;
        border-bottom: 0.8px solid #d7dbdf;
        grid-column: 4/6;
        grid-row-start: 2;
      }
    }
  }
}

@media (max-width: 768px) {
  .markets {
    &__row {
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}
@media (max-width: 576px) {
}
@media (max-width: 350px) {
}
