@media (max-width: 1200px) {
  .p2p {
    &__wrapper {
      &::before {
        top: 113px;
      }
    }
    &-info {
      margin-top: 337px;
    }
  }
}
@media (max-width: 992px) {
  .p2p {
    padding-top: 25px;
    &__wrapper {
      &::before {
        top: 65px;
        right: -80px;
        scale: 0.8;
      }
    }
    &-info {
      margin-top: 307px;
      &__title {
        font-size: 45px;
        line-height: 45px;
      }
      &__text {
        font-size: 16px;
        line-height: 40px;
      }
    }
  }
}
@media (max-width: 576px) {
  .p2p {
    padding-bottom: 0;
    &__wrapper {
      padding: 0;
      &::before {
        top: 4px;
        right: -200px;
        scale: 0.4;
      }
    }
    &__subtitle {
      width: auto;
    }
    &__descr {
      width: auto;
    }
    &-info {
      margin-top: 177px;
      &__title {
        font-size: 35px;
        line-height: 30px;
      }
      &__text {
        font-size: 13px;
        line-height: 20px;
      }
    }
  }
}
@media (max-width: 350px) {
  .p2p {
    &-info {
      &__title {
        font-size: 25px;
        line-height: 30px;
      }
    }
  }
}
