@media (max-width: 1400px) {
  .container {
    max-width: 1310px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .title {
    &-fz54 {
      font-size: 50px;
      line-height: 50px;
    }
    &-fz40 {
      font-size: 35px;
      line-height: 45px;
    }
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .title {
    &-fz40 {
      font-size: 30px;
      line-height: 40px;
    }
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .title {
    &-fz54 {
      font-size: 35px;
      line-height: 42px;
    }
    &-fz40 {
      font-size: 25px;
      line-height: 35px;
    }
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .title {
    &-fz54 {
      font-size: 27px;
      line-height: 35px;
    }
  }
}
@media (max-width: 350px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .title {
    &-fz54 {
      font-size: 20px;
      line-height: 29px;
    }
    &-fz40 {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
