.bonus {
  padding-bottom: 20px;
  margin-top: 20px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__item {
    padding: 5px;
    height: 50px;
    background-color: #27282a;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
    svg {
      margin-left: 5px;
      width: 14px;
      height: 14px;
      path {
        fill: #fff;
      }
    }
  }
}
.work {
  padding: 10px;
  height: 80px;
  background-color: #27282a;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  font-size: 14px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 20px;

  &__icon {
    display: flex;
    width: 100px;
    align-items: center;
    img {
      width: 40px;
      border-radius: 100%;
    }
  }
  &__text {
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    span {
      display: inline-block;
      position: relative;
      width: 16px;
      height: 12px;
    }
    svg {
      position: absolute;
      width: 12px;
      height: 12px;
      top: 2px;
      path {
        fill: #fff;
      }
    }
  }
}
.company {
  background-color: #3177f0;
  padding: 10px;
  min-height: 105px;
  box-shadow: 0 0 15px #000;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  &__top {
    display: flex;
    gap: 20px;
  }
  &__icon {
    display: flex;
    width: 40px;
    align-items: center;
    img {
      width: 40px;
      border-radius: 100%;
    }
    svg {
      width: 37.36px;
      height: 37.36px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 12px;
  }
  &__title {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
  &__subtitle {
    color: #6ea8f2;
    font-size: 12px;
    margin-top: 5px;
  }
  &__wrap {
    display: flex;
    margin-top: 5px;
    gap: 10px;
  }
  &__cost {
    padding: 5px;
    border-radius: 16px;
    color: #fff;
    font-size: 11px;
    &:nth-child(1) {
      background-color: #fe946d;
    }
    &:nth-child(2) {
      background-color: #ff5458;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    color: #fff;
    font-size: 10px;
    padding: 5px;
    background-color: #5690f3;
    border-radius: 8px;
    &-splite {
      width: 100%;
    }
  }
}
.workers {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f15151;
  border-radius: 8px;
  padding: 10px;
  min-height: 170px;
  .company__icon {
    svg {
      width: 100%;
    }
  }
  &__top {
    display: flex;
    gap: 20px;
  }
  &__info {
    color: #fff;
    font-size: 12px;
    line-height: 16px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #f5716f;
    border-radius: 8px;
    color: #fff;
    font-size: 10px;
    height: 30px;
  }
  .company__btn {
    background-color: #f5716f;
  }
}
