.exchange {
  padding-top: 10px;
  padding-bottom: 20px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__blank {
    padding: 10px;
    background-color: #9c7c15;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    font-size: 14px;
    color: #fff;
    display: flex;
    gap: 20px;
  }
  &__icon {
    display: flex;
    width: 40px;
    align-items: center;
    img {
      width: 100%;
    }
  }
  &__text {
    font-size: 10px;
    color: #e3d5b0;
    line-height: 20px;
  }
  &-list {
    display: grid;
    grid-template: repeat(4, auto) / 100%;
    grid-auto-rows: auto;
    gap: 10px;
    &__item {
      background-color: #171717;
      padding: 10px;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
      border-radius: 16px;
      display: grid;
      grid-template: 100% / 40px 175px 50px;
      gap: 10px;
    }
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__title {
      color: #fff;
      font-size: 12px;
      font-weight: 600;
    }
    &__text {
      margin-top: 4px;
      color: #cecece;
      font-size: 11px;
    }
    &__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      span {
        margin-top: 4px;
      }
    }
    &__cost {
      color: #fff;
      font-size: 12px;
    }
    span {
      font-size: 8px;
      color: #aaaaaa;
    }
  }
}
.valuts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 20px;
      opacity: 0.5;
    }
    &-active {
      background-color: #41371c;
      border-radius: 5px;
      scale: 1.1;
      img {
        width: 25px;
        opacity: 1;
      }
    }
    &-doble {
      background-color: #3a293b;
      border-radius: 5px;
      scale: 1.1;
      img {
        width: 25px;
        opacity: 1;
      }
    }
  }
}
