.footer {
  background-color: #1a1a1a;
  &__menu {
    padding: 10px 0;
    display: grid;
    grid-template: 50px / repeat(6, 50px);
    align-items: center;
    justify-content: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &-active {
      scale: 1.1;
    }
  }
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    img {
      width: 100%;
    }
    svg {
      width: 25px;
      height: 25px;
      path {
        fill: #fff;
      }
    }
  }
  &__text {
    margin-top: 10px;
    color: #6b6b6b;
    font-size: 10px;
    text-decoration: none;
    &-active {
      color: #fff;
    }
  }
}
