.grade {
  position: fixed;
  z-index: 1;
  bottom: -100%;
  transition: all 0.5s;
  &__active {
    bottom: 5px;
  }
  &__wrapper {
    min-height: 200px;
    background-color: #27282a;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__top {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__icon {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      background-color: #fff;
      border-radius: 100%;
    }
  }
  &__title {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    width: 135px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 10px;
    color: #fff;
    border-radius: 8px;
    &:nth-child(1) {
      background-color: #4baf4c;
    }
    &:nth-child(2) {
      background-color: #fe6263;
    }
  }
}
.grade-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__text {
    font-size: 13px;
    color: #fff;
    span {
      font-weight: 600;
    }
  }
  &__block {
    min-height: 40px;
    padding: 10px;
    background-color: #3d3e40;
    border-radius: 8px;
  }
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__sum {
    font-size: 13px;
    color: #fff;
    margin-right: 5px;
    font-weight: 500;
  }
  &__icon {
    display: flex;
    align-items: end;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    img {
      width: 100%;
    }
  }
  &__devider {
    margin-top: 5px;
    height: 1px;
    background-color: #4b4c4e;
  }
  &__cost {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: #6d6e70;
  }
}
