.header {
  padding-top: 20px;
  border-bottom: 1px solid #292929;
  padding-bottom: 2px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__top {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  &__title {
    color: #fff;
    font-weight: 500;
    align-self: start;
  }
  &__btn {
    position: absolute;
    display: flex;
    padding: 5px;
    gap: 10px;
    right: 0;
    width: 80px;
    height: 30px;
    background-color: #1c1d1f;
    border: 1px solid #1c1d1f;
    border-radius: 8px;
    &-left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;
      width: 30px;
      cursor: pointer;
      span {
        background-color: #fff;
        width: 3px;
        height: 3px;
        border: none;
        border-radius: 100%;
      }
    }
    &-right {
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 13px;
      cursor: pointer;
    }
  }
  &__devider {
    height: 100%;
    width: 3px;
    background-color: #1b1c1e;
    border-radius: 2px;
  }
}
