*
    box-sizing: border-box    
    font-family: Arial, Helvetica, sans-serif
    margin: 0
    padding: 0
.container
    padding: 0 10px
body
    position: relative
    background-color: #191919

@import blocks/footer
@import blocks/balance
@import blocks/bonus
@import blocks/grade
@import blocks/header
@import blocks/top-players

    

